<h1>Listing weeks</h1>

<table class="table">
  <tr>
    <th>Number</th>
    <th>Title</th>
    <th>Active</th>
    <th></th>
    <th></th>
  </tr>

<% @weeks.each do |week| %>
  <tr>
    <td><%= week.number %></td>
    <td><%= link_to week.title, week %></td>
    <td><%= week.active.to_s %></td>
    <td><%= link_to 'Edit', edit_week_path(week) %></td>
    <td><%= link_to 'Delete', week, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Week', new_week_path %>
