<%= simple_form_for(@announcement) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, :input_html => { :class => "span9"} %>
    <%= f.input :body, :input_html => { :rows => 30, :class => "span9 tinymce"} %>
    <%= f.input :publish %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
