<h1><%= link_to 'SDC Discussion Forum', forums_root_path %></h1>
<div class="well">
<h2><%= @forum.title %></h2>
  <%= link_to "New Topic", new_forum_topic_path(@forum), :class => "btn btn-success" %>
  <% if current_user.has_role? :admin %>
    <%= link_to "Edit Forum", edit_forum_path(@forum) %>
    <%= link_to "Delete Forum", forum_path(@forum), :confirm => "Are you sure you want to delete this forum?", :method => :delete %>
  <% end %>
<br><br>
<table class="table">
  <tr class="smaller">
    <th colspan="2" align="left">Topic</th>
    <th>Replies</th>
    <th>Views</th>
    <th class="last_post" align="left">Last Post</th>
  </tr>
  <% @forum.topics.each do |topic| %>
  <tr>
    <td class="icon"><% if topic.user.user_profile %><%= link_to user_profile_path(topic.user.user_profile) do %><%= image_tag topic.user.user_profile.avatar(:thumb) %><% end %><% end %></td>
    <td class="description">
      <%= link_to topic.title, topic_path(topic) %><br />
      <span class="smaller">by 
        <% if topic.user.user_profile %>
          <%= link_to topic.user.username, user_profile_path(topic.user.user_profile) %>
        <% else %>
          <%= topic.user.username %>
        <% end %>
      </span>
    </td>
    <td class="counts smaller"><%= topic.posts.size - 1 %></td>
    <td class="counts smaller"><%= topic.hits %></td>
    <td class="last_post smaller">
      <%= topic.posts.last.created_at.strftime("%A, %e %b %Y") %><br />
      by <%= topic.posts.last.user.username %>
    </td>
  </tr>
  <% end %>
</table>
</div>