
<div class="row">
  <div class="span10">
    <h1><span class="fui-calendar-16"> </span> &nbsp;SDC Calendar</h1>
  </div>
  <div class="span2">
    <%= link_to 'add event', new_calendar_item_path, :class => 'btn btn-success' %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <hr>
    <% if @calendar_items.count > 0 %>
      <table class="table">
        <thead>
          <tr>
            <th>Day</th>
            <th>Date</th>
            <th>Time</th>
            <th>Event</th>
          </tr>
        </thead>
        <tbody>
          <% @calendar_items.each do |ci| %>
            <tr>
              <td><%= ci.day %></td>
              <td><%= ci.date.strftime("%e %b %Y") %></td>
              <td><%= ci.time.strftime("%H:%M") %></td>
              <td><%= link_to ci.title, calendar_item_path(ci) %></td>
            </tr>
           <% end %>
          
        </tbody>
      </table>


    <% else %>
    <p>There are no calendar items at this time</p>
    <% end %>
  </div>
</div>
