<%= link_to "Back to Forum", forum_path(@topic.forum) %>
<div class="well">
<h2><%= @topic.title %></h2>
      <%= link_to "Edit", edit_topic_path(@topic), :class => 'btn btn-warning btn-small'  %>
      <%= link_to "Delete", @topic, :confirm => "Are you sure?", :method => :delete, :class => 'btn btn-danger btn-small' %>
      <%= link_to @topic.sticky ? "Unstick" : "Sticky", {:controller => 'topics', :action => 'update', :topic => {:sticky => @topic.sticky ? "false" : "true" }}, :method => :put %>
      <%= link_to @topic.locked ? "Unlock" : "Lock", {:controller => 'topics', :action => 'update', :topic => {:locked => @topic.locked ? "false" : "true" }}, :method => :put %>
   
    <table class="table">
      <% @topic.posts.each do |post| %>
      <tr>
        <td class="post_author" rowspan="2">
          
          <%= link_to user_profile_path(post.user.user_profile) do %>
            <h3><%= post.user.username %> </h3> <%= image_tag post.user.user_profile.avatar(:thumb) %>
            <% end %> 
            <br />
            Posts: <%= post.user.posts.size %><br />
          
        </td>
        <td>
         Posted <%= post.created_at.strftime("%I:%M:%P on %A, %e %b %Y") %>
         <div class="pull-right">
            <%= link_to "Reply", new_topic_post_path(@topic), :class => 'btn btn-info btn-small' %>
            <%= link_to "Quote", new_topic_post_path(@topic, :quote => post), :class => 'btn btn-info btn-small' %>
            <%= link_to "Edit", edit_post_path(post), :class => 'btn btn-warning btn-small' %>
            <%= link_to "Delete", post, :confirm => "Are you sure?", :method => :delete, :class => 'btn btn-danger btn-small' %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= simple_format(auto_link(post.body)).html_safe %>
        </td>
      </tr>
      <% end %>
    </table>
</div>