<p id="notice"><%= notice %></p>

<p>
  <b>Prework question:</b>
  <%= @prework_answer.prework_question %>
</p>

<p>
  <b>User:</b>
  <%= @prework_answer.user %>
</p>

<p>
  <b>Answer:</b>
  <%= @prework_answer.answer %>
</p>


<%= link_to 'Edit', edit_prework_answer_path(@prework_answer) %> |
<%= link_to 'Back', prework_answers_path %>
