<h1>Prework</h1>
<% if current_user.has_role? :admin %>
  <%= link_to 'Add module', new_prework_module_path, :class => 'btn' %>
  <%= link_to 'Module list', prework_modules_path, :class => 'btn' %>
  <br>
<% end %>
<div class="well">
<h2>Hi <%= current_user.username %></h2>
<h2>Welcome to Sydney Dev Camp!</h2>
<br>
<p><b>I promise you, you will have a great time and learn a lot over the next few months.</b></p>

<button type="button" class="btn" data-toggle="collapse" data-target="#demo">
  show/hide intro
</button>
 
<div id="demo" class="collapse"> 
<p>This prework assignment is designed to do a number of things:</p>

<ol>
  <li>if you don't already have a computer science background, this assignment helps you understand the basic concepts required to be a great programmer</li><br>
  <li>if you do have a good background in computer science, this will hopefully be a fun refresher and help you realise how much you already know</li><br>
  <li>it gives us all a basis for the discussions we will be having in class and if you have completed this prework you will be able to fully participate</li><br>
  <li>it will provide me with a good understanding of the level of knowledge across the class and help me tailor the course accordingly</li>
</ol>
<br>
<h3>The format</h3>
<p><b>This prework assignment is designed to help you find the answers for yourself.</b></p>
<p>I didn't want to provide pages of content to read - just questions requiring a short form answer. A sentence or two is fine as a response but if you are enjoying learning about a particular topic, please feel free to write as much as you want.</p>

<p><b>If you are confident you know the answer</b>, then just answer off the top of your head. If you don’t, Google the question or use Wikipedia. As a developer, you will be using the internet to find answers to the issues you face all the time. Now is good time to practice your “answer finding” skills.</p>

<p><b>Don’t just copy and paste though.</b> I personally find that information sticks in my brain a lot better if I actually write/type it out in my own words.</p>
<br>
<h3>Knowledge &amp; skills</h3>

<p>To be a great programmer, there are both knowledge and skills you need to have. I have divided the modules into two sections. The skills section will obviously involve more practical activities but I would also like you to answer the questions about the skills you are learning.</p>
</div>
<br>
<h3>Modules</h3>
<p>The prework is broken up into the following sections.</p>


<p><i>Knowledge</i></p>

<% if @prework_modules.count > 0 %>
  <table class="table">
    <tr>
      <th>Module name</th>
      <th></th>
    </tr>
    <% @prework_modules.each do |pw_module| %>
      <% if pw_module.module_type == 'knowledge' %>
      <tr>
        <td><%= pw_module.name %></td>
        <td>
          
          <%= link_to 'start module', pw_module, :class => 'btn btn-success' %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </table>
<% end %>



<p><i>Skills</i></p>
<ol>
  <% if @prework_modules.count > 0 %>
    <% @prework_modules.each do |pw_module| %>
      <% if pw_module.module_type == 'skill' %>
        <li><%= pw_module.name %></li>
      <% end %>
    <% end %>
  <% end %>
</ol>
<br>
<br><br>
<h3>Help</h3>
<p>Please go to the forum topic for each section to ask questions or post issues you are having. This is a great way for everyone to start helping each other. I will also be keeping an eye on the discussion so I can help if needed.</p>

<p>Please also feel free to email me with any questions or issues and I will respond via email or phone call within 24 hours.</p>

</div>