<%= simple_form_for(@user_profile, :html => { :multipart => true }) do |f| %>
  <%= f.error_notification %>
  <p>All fields are optional</p>

    <%= f.input :email, :input_html => { :class => 'span6'} %>
    <%= f.input :phone, :input_html => { :class => 'span6'} %>
    <%= f.input :facebook, :input_html => { :class => 'span6'}, :placeholder => 'https://www.facebook.com/YourUserName'   %>
    <%= f.input :twitter, :input_html => { :class => 'span6'}, :placeholder => 'https://www.twitter.com/YourUserName' %>
    <%= f.input :github, :input_html => { :class => 'span6'}, :placeholder => 'https://www.github.com/YourUserName' %>
    <%= f.input :linkedin, :input_html => { :class => 'span6'}, :placeholder => 'https://www.linkedin.com/YourUserName' %>
    <%= f.input :about, :input_html => { :rows => '5', :class => 'span6 tinymce'}, :hint => "(Include other web addresses in here)" %>
    <br>
    <%= f.input :avatar, :as => :file %>

    <%= f.button :submit, :class => 'btn btn-success btn-large' %>

<% end %>
