<p id="notice"><%= notice %></p>

<p>
  <b>Order:</b>
  <%= @prework_module.order %>
</p>

<p>
  <b>Name:</b>
  <%= @prework_module.name %>
</p>

<p>
  <b>Intro:</b>
  <%= @prework_module.intro %>
</p>

<p>
  <b>Resources:</b>
  <%= @prework_module.resources %>
</p>

<p>
  <b>Forum link:</b>
  <%= @prework_module.forum_link %>
</p>


<%= link_to 'Edit', edit_prework_module_path(@prework_module) %> |
<%= link_to 'Back', prework_modules_path %>
