<h1>Module: <%= @prework_module.name %></h1>
<%= link_to 'Edit module', edit_prework_module_path(@prework_module), :class => 'btn' %> 
<p id="notice"><%= notice %></p>

<p>
  <b>Order:</b>
  <%= @prework_module.order %>
</p>


<p>
  <b>Intro:</b>
  <%= @prework_module.intro %>
</p>

<p>
  <b>Resources:</b>
  <%= @prework_module.resources %>
</p>

<p>
  <b>Forum link:</b>
  <%= @prework_module.forum_link %>
</p>

<p>
  <b>Module type:</b>
  <%= @prework_module.module_type %>
</p>

<h2>Questions</h2>

<% if @prework_module.prework_questions.count > 0 %>
  <table class="table">
    <tr>
      <th>Question</th>
      <th></th>
      <th></th>
    </tr>
  <% @prework_module.prework_questions.each do |question| %>
    <tr>
      <td><%= question.order %>. <%= question.question %></td>
      <td><%= link_to "edit", edit_prework_module_prework_question_path(@prework_module, question), :class => 'btn' %></td>
      <td><%= link_to 'delete', [@prework_module, question], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
    </tr>
  <% end %>
</table>
<% end %>


<%= link_to 'Back', prework_modules_path %>
