<h1>Module: <%= @prework_module.name %></h1>

<% if current_user.has_role? :admin %>
  <%= link_to 'edit module', edit_prework_module_path(@prework_module), :class => 'btn' %>
  <%= link_to "add question", new_prework_module_prework_question_path(@prework_module), :class => "btn btn-primary" %>
  <%= link_to 'back to modules', prework_modules_path, :class => 'btn' %>
  <br>
  <b>Order:</b><%= @prework_module.order %>
  <p><b>Module type:</b><%= @prework_module.module_type %></p>
<% end %>

<p id="notice"><%= notice %></p>
<div class="well">
<h2>Introduction</h2>
  <%= auto_link(@prework_module.intro) %>
<h2>Resources</h2>
  <%= auto_link(@prework_module.resources) %>

<h2>Forum link</h2>
  <%= auto_link(@prework_module.forum_link) %>



<a href="<%= @prework_module.prework_questions.first.question %>" class="btn btn-success btn-large" target="_blank">Go to module questions</a>
<br><br>
<%= link_to 'back to prework', prework_path, :class => 'btn btn-primary' %>
  
  <% if current_user.has_role? :admin %><%= link_to 'edit question', edit_prework_module_prework_question_path(@prework_module.prework_questions.first), :class => 'btn' %><% end %>
  
</div>
