<h1>Module: <%= @prework_module.name %></h1>

<% if current_user.has_role? :admin %>
  <%= link_to 'edit module', edit_prework_module_path(@prework_module), :class => 'btn' %>
  <%= link_to "add question", new_prework_module_prework_question_path(@prework_module), :class => "btn btn-primary" %>
  <%= link_to 'back to modules', prework_modules_path, :class => 'btn' %>
  <br>
  <b>Order:</b><%= @prework_module.order %>
  <p><b>Module type:</b><%= @prework_module.module_type %></p>
<% end %>

<p id="notice"><%= notice %></p>
<div class="well">
<p>
  <b>Introduction</b><br>
  <%= auto_link(@prework_module.intro) %>
</p>

<p>
  <b>Resources</b><br>
  <%= auto_link(@prework_module.resources) %>
</p>

<p>
  <b>Forum link</b><br>
  <%= auto_link(@prework_module.forum_link) %>
</p>



<h2>Questions</h2>

  <table class="table">
   
  <% @prework_module.prework_questions.each_with_index do |question, index| %>
    <tr>
      <td>
        <%= index + 1 %>. <%= question.question %><br><br>

      </td>
      <td><%= link_to "edit", edit_prework_module_prework_question_path(@prework_module, question), :class => 'btn' %></td>
      <td><%= link_to 'delete', [@prework_module, question], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
    </tr>

  <% end %>
</table>
</div>
