<h1>Days</h1>

<%= link_to 'New Day', new_day_path, :class => 'btn' %><br>
<table class="table">
  <tr>
    <th>Week</th>
    <th>Number</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @days.each do |day| %>
  <tr>
    <td><%= day.week.number %></td>
    <td><%= day.number %></td>
    <td><%= link_to day.title, day %></td>
    <td><%= link_to 'Edit', edit_day_path(day) %></td>
    <td><%= link_to 'Delete', day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

