<div class="container">
  <div class="row">
    <div class="span12">
      <div class="navbar navbar-inverse">
        <nav class="navbar-inner">
          <div class="container">
            <ul class="nav">

              <li><%= link_to root_path do %>
                <%= image_tag('logo-small.png') %> Sydney Dev Camp - Student Portal
                <% end %>
              </li>
            </ul>
            <ul class="nav pull-right">
              <li>
                <%= link_to forums_root_path do %>
                  <span class="fui-bubble-16"> </span> &nbsp;Discussion
                <% end %>
              </li>
              <li>
                <%= link_to calendar_path do %>
                  <span class="fui-calendar-16"> </span> &nbsp;Calendar
                <% end %>
              </li>
              <li><a href="#"><span class="fui-menu-16"> &nbsp;Course</span></a>
                
                  <ul>
                    
                    <% if @published_weeks.count > 0 %>
                    <% @published_weeks.each do |week| %>
                      <li><%=link_to 'Week ' + week.number.to_s, week_path(week) %></li>
                    <% end %>
                  <% end %>
                  <li><%= link_to 'Resources', resources_path %></li>
                  <li><%= link_to 'Prework', prework_path %></li>
                </ul>
                
              </li>
              <li><a href="#"><span class="fui-man-16"></span> <%= current_user.username %></a>
                <ul>
                  <li><%= link_to 'My account', edit_user_registration_path %></li>
                  <li>
                    <% if current_user.user_profile %>
                      <%= link_to 'My profile', user_profile_path(current_user.user_profile) %>
                    <% else %>
                      <%= link_to 'Create profile', new_user_profile_path %>
                    <% end %>
                  </li>
                  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
                  <% if current_user.has_role? :admin %>
                    <li><%= link_to 'Admin', users_path %></li>
                    <li><%= link_to 'Announcements', announcements_path %></li>
                    <li><%= link_to 'Weeks', weeks_path %></li>
                    <li><%= link_to 'Days', days_path %></li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
